:root {
  --white: #ffffff;
  --black: #23232a;
  --gray: #a4a5a8;
  --lightgray: #f7f8fd;
  --orange: #ff7d1b;
  --pink: #feefe2;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--white);
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.gray {
  color: var(--gray);
}
.lightgray {
  color: var(--lightgray);
}
.orange {
  color: var(--orange);
}
.pink {
  color: var(--pink);
}

.bold {
  font-weight: bold;
}

.dis-flex {
  display: flex;
}

.dis-none {
  display: none;
}

.body-container {
  padding: 0 6rem;
}

@media screen and (max-width: 768px) {
  .body-container {
    padding: 0;
  }
}

/* Main Content CSS */

section.main-content {
  display: flex;
  /* height: 90vh; */
  padding: 4rem 0;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  section.main-content {
    display: block;
    padding: 0;
  }
}

.prod-images {
  padding: 0 3rem;
  width: 38%;
}

.prod-images img {
  border-radius: 10px;
}

.prod-hero-image {
  position: relative;
  cursor: pointer;
}

.prod-hero-image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .prod-images {
    width: 100%;
    padding: 0;
  }

  .prod-images img {
    border-radius: 0;
  }

  .prod-hero-image {
    cursor: unset;
  }
}

.prod-thumbnails {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.prod-thumbnails img {
  width: 100%;
}

.prod-thumbnails img:hover {
  opacity: 0.5;
}

[class^="prod-thumbnail-"] {
  width: 6rem;
  height: 6rem;
  border-radius: 12px;
  cursor: pointer;
}

[class^="prod-thumbnail-"]:hover {
  border: 2px solid var(--orange);
  box-sizing: border-box;
  width: 6rem;
}

@media screen and (max-width: 1199px) {
  [class^="prod-thumbnail-"],
  [class^="prod-thumbnail-"]:hover {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .prod-thumbnails {
    margin-top: 0.6rem;
  }

  [class^="prod-thumbnail-"],
  [class^="prod-thumbnail-"]:hover {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .prod-thumbnails {
    display: none;
  }
}

.prod-details {
  padding: 2rem 1rem;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .prod-details {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
}

.prod-details h5 {
  color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.prod-details h1 {
  margin-top: 0;
  color: var(--black);
  font-size: 2.7rem;
}

.prod-details > p {
  color: var(--gray);
  font-weight: 500;
  line-height: 1.6rem;
}

.prod-price {
  margin-bottom: 1rem;
}

.price-and-discount {
  display: flex;
}

.prod-details p.new-price {
  color: var(--black);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

span.discount-rate {
  color: var(--orange);
  background-color: var(--pink);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 6px;
  border-radius: 10px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.prod-details p.old-price {
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 1rem;
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .prod-details h5 {
    margin: 10px 0;
  }

  .prod-details h1 {
    font-size: 2rem;
  }

  .prod-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}

.prod-purchase {
  display: flex;
  align-items: center;
}

.prod-purchase .prod-quantity {
  display: flex;
  width: 11rem;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--lightgray);
  padding: 0 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.min-button,
.value,
.plus-button {
  display: flex;
  align-items: center;
  height: 2rem;
}

.prod-quantity-input {
  width: 20px;
  font-weight: bold;
  background-color: var(--lightgray);
  border: 0;
  margin: 0;
}

.min-button:hover,
.plus-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.prod-quantity-input {
  text-align: center;
  font-size: 1.4rem;
}

.prod-add-cart {
  margin-left: 20px;
}

.prod-add-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3.5rem;
  color: var(--white);
  background-color: var(--orange);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px 2px #ffae70;
  cursor: pointer;
}

.prod-add-cart button:hover {
  opacity: 0.6;
}

.button-cart-icon {
  margin-right: 1rem;
  filter: brightness(200%) saturate(0%) contrast(121%);
}

@media screen and (max-width: 1199px) {
  .prod-purchase {
    display: block;
  }

  .prod-purchase .prod-quantity {
    margin-bottom: 1.2rem;
    width: 100%;
  }

  .prod-add-cart {
    width: 100%;
    margin: 0;
  }

  .prod-add-cart button {
    width: 100%;
  }
}

/* Navigator CSS */

.nav-icon-left {
  border-left: 5px solid;
  border-bottom: 5px solid;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
}

.nav-icon-right {
  border-right: 5px solid;
  border-bottom: 5px solid;
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
}

.navigate-left,
.navigate-right {
  z-index: 6;
  color: var(--black);
  background-color: var(--white);
  font-weight: bold;
  position: absolute;
  padding: 1rem;
  border-radius: 50%;
  top: 45%;
  cursor: pointer;
}

.navigate-left:hover,
.navigate-right:hover {
  color: var(--orange);
}

.navigate-left {
  left: -6%;
}

.navigate-right {
  right: -6%;
}

@media screen and (max-width: 768px) {
  .image-navigator {
    display: flex;
  }

  .navigate-left {
    left: 4%;
  }

  .navigate-right {
    right: 4%;
  }
}
