:root {
  --white: #ffffff;
  --black: #23232a;
  --gray: #a4a5a8;
  --lightgray: #f7f8fd;
  --orange: #ff7d1b;
  --pink: #feefe2;
}

/* Navigation Bar CSS */

nav {
  color: var(--gray);
  background-color: #23232a;
  font-weight: 600;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  flex: 50%;
}

.nav-links {
  display: flex;
  margin: 0;
  margin-left: 1.5rem;
}

.nav-links li {
  padding: 3rem 0;
  border-bottom: 4px solid var(--white);
  list-style: none;
  margin-right: 2rem;
}

.nav-links li:hover {
  color: var(--black);
  border-bottom: 4px solid var(--orange);
}

.nav-profile {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-profile img {
  cursor: pointer;
}

.nav-profile img:nth-child(1):hover {
  filter: brightness(0%);
}

.nav-profile img:nth-child(2) {
  border: 2px solid var(--white);
  border-radius: 50%;
  margin-left: 1rem;
  height: 3rem;
}

.nav-profile img:nth-child(2):hover {
  border: 2px solid var(--orange);
}

hr {
  margin: 0;
  border-top: 1px solid var(--lightgray);
}

/* Responsive Burger Nav */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  background-color: var(--black);
  width: 22px;
  height: 3px;
  margin: 4px 0;
  margin-right: 10px;
  transition: all 0.5s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }

  .sneakers-logo {
    margin-left: 5px;
  }
  .nav-links {
    margin-left: 0;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 50%;
    height: 90vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 8;
  }

  .nav-link {
    margin-left: 0;
  }

  .nav-links li {
    padding: 1rem 0;
    border-bottom: none;
    opacity: 0;
  }

  .nav-links li:hover {
    border-bottom: none;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
